<section>
    <div>
      <div>
        <img src="../../../assets/proyectos.jpg" class="img-fluid img-secciones" alt="Foto mujeres programando">
        <h1 class="titulo-seccion">Proyectos</h1>
      </div>
      <div>
        <h1>Página Web desarrollada para un cliente real.</h1>
        <p>Página web creada en Angular con HTML5 y CSS3. Le di un diseño responsivo y cumplí con todos los requerimientos de mi cliente. También diseñé el banner y seleccioné cuidadosamente las imágenes utilizadas en la página.</p>
        <img class="primerTrabajo-web" src="../../../../assets/banner-willian.png" alt="web servicio técnico">
        <a href="https://servicio-tecnico-willian.web.app/informacion" target="_blank">Ver página web</a>
    </div>
