<mat-card>
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button mat-list-item routerLink = "/admin">
        <mat-icon>work</mat-icon>Experiencia
      </button>
      <button mat-list-item routerLink = "/admin/estudios">
        <mat-icon>class</mat-icon>Educación
      </button>
      <button mat-list-item routerLink = "/admin/cursos">
        <mat-icon> local_library</mat-icon>Cursos
      </button>
      <button mat-list-item routerLink = "/admin/habilidades">
        <mat-icon mat-list-icon>code</mat-icon>Habilidades
      </button>
      <button mat-list-item routerLink = "/admin/proyectos">
        <mat-icon>work_outline</mat-icon>Proyectos
      </button>
      <button mat-list-item routerLink = "/admin/contacto">
        <mat-icon> contact_phone</mat-icon>Contáctame
      </button>
    </mat-action-list>
  </mat-card>
