<section class="container custom-section">
    <div class="row">
      <div class="col-md">
        <img id="img-contacto" src="../../../assets/contactame.jpg" class="img-fluid img-secciones"
          alt="Foto hombre teléfono">
        <br> <br>
        <a class="icono" href="https://github.com/RoaViviana?tab=repositories" target="_blank">
          <img src="../../../assets/github.png" alt="GitHub" width="55" height="55">
        </a>
        <a class="icono" href="https://www.linkedin.com/in/viviana-roa-352332246/" target="_blank">
          <img src="../../../assets/linkedin.png" alt="LinkedIn" width="55" height="55">
        </a>
        <a class="icono" href="https://wa.me/541166820431" target="_blank">
          <img src="../../../assets/whatsapp.png" alt="Whatsapp" width="50" height="50">
        </a>
        <a class="icono" href="https://www.facebook.com/ratasister/" target="_blank">
          <img src="../../../assets/facebook.png" alt="Facebook" width="50" height="50">
        </a> <br><br>
        <img src="../../../assets/mapa.png" alt="Ubicacion" width="30" height="30">
        <p style="color: aliceblue;">Alejandro Korn, Buenos Aires, Argentina.
        </p>
      </div>
      <div class=" cb col-md">
        <h1 class="titulo-seccion">Contáctame</h1>
        <form class="formulario-contacto">
          <label for="nombre">Nombre</label>
          <input class="imputtext" type="text" id="nombre" required>
          <label for="apellido">Apellido</label>
          <input class="imputtext" type="text" id="apellido" required>
          <label for="email">Email</label>
          <input class="imputtext" type="email" id="email" placeholder="email@dominio.com" required>
          <br><br>
          <textarea class="imputtext" name="comentarios" id="comentarios" cols="23" rows="6" placeholder="Comentarios"
            required></textarea>
          <br><br>
          <input class="enviar" type="submit" value="Enviar formulario">
        </form>
      </div>
            <footer>
              <div class="container">
                <p>
                  Copyright &copy; 2022, All Right Reserved
                </p>
              </div>
            </footer>
